html {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-auto-columns: auto 1fr auto;
    min-height: 100vh;
}

header{
    background-color: #757575;
    display:flex;
    align-items: center;
    padding: 10px;
    color:white;
    font-weight: bold;
}

header .headerLogo{
    width: 50px;
    height: 50px;
}

header .headerMenu {
    text-align: center;
}

header .headerMenu ul{
    display: inline-block;
    list-style-type: none;
}

header .headerMenu ul li{
    float: left;
}

footer{
    background-color: #424242;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


header .redesociales{
    border: 1px red solid;
}