@font-face {
    font-family: 'Titillium-Semibold';
    src: url(../fonts/Titillium/Titillium-Semibold.otf) format('truetype');
}

@font-face {
    font-family: 'Titillium-Regular';
    src: url(../fonts/Titillium/Titillium-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'Titillium-Thin';
    src: url(../fonts/Titillium/Titillium-Thin.otf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

.meteordg-admin-header {
    padding-left: 0;
    height: 56px;
    z-index: 1039;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #232323;
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}

.meteordg-admin-header-dropdown-menu {
    font-family: Ubuntu-Regular;
}

.meteordg-admin-vertical-nav {
    margin-top: 10px;
}

.nav-link {
    font-family: Ubuntu-Medium;
}

.meteordg-admin-content {
    padding: 40px;
    height: 100%;
    background: #f3f3f3;
}

.meteordg-admin-companies-head {
    display: flex;
    align-items: center;
}

.meteordg-admin-companies-title {
    font-family: Titillium-Semibold;
}

/*.meteordg-admin-open-popup-button {
    font-size: 19px;
    font-family: 'Ubuntu-Regular';
    padding: 5px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 0.375rem;
    background: #0797b9;
    cursor: pointer;
    transition: 0.25s;
    color: white;
}

.meteordg-admin-open-popup-button:hover {
    background: #068ca9;
}*/

.meteordg-admin-companies-panel {
    margin-top: 30px;
    display: grid;
    gap: 15px;
}

.meteordg-company {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    flex: 1;
    flex-basis: calc(25% - 20px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.meteordg-company:hover {
    transform: scale(1.05);
    border: 1px solid deepskyblue;
    box-shadow: 0 0 5px rgba(0, 159, 255, 0.41);
}

@media (max-width: 1000px) {
    .meteordg-admin-companies-panel {
        grid-template-columns: 1fr;
    }

    .meteordg-company {
        flex-direction: row;
    }

    .meteordg-company-info-zone {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .meteordg-company:hover {
        transform: scale(1.03);
        border: 1px solid deepskyblue;
        box-shadow: 0 0 5px rgba(0, 159, 255, 0.41);
    }

    .meteordg-company-data-zone {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 1000px) {
    .meteordg-admin-companies-panel {
        grid-template-columns: repeat(4, 1fr);
    }

    .meteordg-company-info-zone {
        border-radius: 20px;
        max-height: min-content;
        flex-direction: column;
        align-items: center;
    }

    .meteordg-company-data-zone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .meteordg-company-country,
    .meteordg-company- {
        display: none;
    }
}

.meteordg-company .meteordg-company-logo {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #646464;
    border-radius: 10px;
}

#bmw {
    background: #bcd9ff;
}

#kfc {
    background: #ffd1d1;
}

#ubisoft {
    background: #eae1ff;
}

#microsoft {
    background: #ddffe5;
}

#crunchyroll {
    background: #ffebdf;
}

#intel {
    background: #d6f2ff;
}

#lays {
    background: #ffffa1;
}

.meteordg-company .meteordg-company-logo img {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.meteordg-company .meteordg-company-name {
    margin-top: 5px;
}

.meteordg-company .meteordg-company-name span {
    font-size: 20px;
    font-family: Titillium-Semibold;
}

.meteordg-company .meteordg-company-nif {
    margin-top: -5px;
}

.meteordg-company .meteordg-company-nif span {
    font-size: 13px;
    font-family: Ubuntu-Light;
}

/*.meteordg-admin-popup {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.meteordg-admin-popup.active {
    visibility: visible;
}

.meteordg-admin-company-register-popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
}

.meteordg-admin-company-register-popup .meteordg-admin-close-popup-button {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
}

.meteordg-admin-company-register-popup .meteordg-admin-close-popup-button:hover {
    color: #000;
}

.meteordg-admin-popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.meteordg-admin-popup form .contenedor-inputs {
    opacity: 0;
}

.meteordg-admin-popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}


.meteordg-form-register {
    width: 410px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    border-radius: 8px;
    font-family: 'calibri';
    color: white;
}

.meteordg-register-title {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 25px;
}

.meteordg-register-paragraph {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.meteordg-register-paragraph a {
    color: white;
    text-decoration: none;
}

.meteordg-register-paragraph a:hover {
    color: #64B5F6;
    text-decoration: underline;
}

.meteordg-register-buttons {
    width: 100%;
    background-color: #1f53c5;
    padding: 12px;
    margin: 16px 0;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.meteordg-register-buttons:hover {
    background-color: #64B5F6;
    color: darkblue;
}

.meteordg-register-fields {
    width: 100%;
    background: transparent;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: 'Titillium-Thin';
    font-size: 18px;
    color: white;
}

.meteordg-register-cif-container {
    display: flex;
}

.meteordg-register-country-select {
    width: 35%;
    margin-right: 16px;
}

.meteordg-register-fields #cif {
    width: 65%;
} */


/*/////////////////////////////////////////////////////////////////*/


.meteordg-admin-company-details {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.meteordg-admin-company-details .meteordg-company-info-zone {
    display: flex;
    flex-direction: row;
}

.meteordg-admin-company-details .meteordg-company-logo {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #646464;
    border-radius: 10px;
}

.meteordg-admin-company-details .meteordg-company-logo img {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.meteordg-admin-company-details .meteordg-company-name {
    margin-top: 5px;
}

.meteordg-admin-company-details .meteordg-company-name span {
    font-size: 20px;
    font-family: Titillium-Semibold;
}

.meteordg-admin-company-details .meteordg-company-nif {
    margin-top: -5px;
}

.meteordg-admin-company-details .meteordg-company-nif span {
    font-size: 13px;
    font-family: Ubuntu-Light;
}


/*/////////////////////////////////////////////////////////////////*/


.meteordg-admin-buttons {
    font-size: 19px;
    font-family: 'Ubuntu-Regular';
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.meteordg-admin-blue-button {
    background: #1a237e;
    border: none;
    color: white;
}

.meteordg-admin-blue-button:hover {
    background: #64b5f6;
}

.meteordg-admin-home-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.meteordg-admin-title {
    margin: 0;
}

.meteordg-admin-container {
    padding: 20px;
    border-radius: 10px;
}

#meteordg-admin-table-container {
    background-color: #2196f3;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#meteordg-admin-filter-formulary {
    display: flex;
    flex-direction: column;
}

.meteordg-admin-subtitle {
    margin: 0;
}

#meteordg-admin-filters-container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.meteordg-admin-filter-selector {
    display: flex;
    align-items: center;
    gap: 5px;
}

.meteordg-admin-filter-text-input {
    width: 160px;
    height: 25px;
    border-radius: 5px;
}

.meteordg-admin-filter-date-input {
    height: 25px;
    border-radius: 5px;
}

#meteordg-admin-container-last-transactions {
    margin-top: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

#meteordg-admin-company-table {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#meteordg-admin-header-table {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.meteordg-admin-header-container-table-information {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    width: 220px;
}

.meteordg-admin-table-information {
    margin: 0;
}

.meteordg-admin-button-last-movement {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 25px;
    height: 25px;
}

.meteordg-admin-row-table {
    display: flex;
    justify-content: space-between;
    background-color: #2196f3;
}

.meteordg-admin-row-container-table-information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.meteordg-admin-field-company {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meteordg-admin-name-company {
    margin: 0;
}
