@font-face {
    font-family: 'Titillium-Regular';
    src: url(../fonts/Titillium/Titillium-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'Titillium-Thin';
    src: url(../fonts/Titillium/Titillium-Thin.otf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.meteordg-main-plans-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .meteordg-main-plans-container {
        grid-template-areas:
            "header header"
            "nav content"
            "footer footer";
    }

    .meteordg-header {
        grid-area: header;
    }

    .meteordg-plans-content {
        grid-area: content;
    }

    .meteordg-plans-content {
        grid-area: content;
    }

    .meteordg-footer {
        grid-area: footer;
    }
}

.meteordg-plans-content {
    margin: 70px auto 0;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}