@font-face {
    font-family: 'Titillium-Regular';
    src: url(../fonts/Titillium/Titillium-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'Titillium-Thin';
    src: url(../fonts/Titillium/Titillium-Thin.otf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.meteordg-main-contact-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .meteordg-main-contact-container {
        grid-template-areas:
            "header"
            "content"
            "footer";
    }

    .meteordg-header {
        grid-area: header;
    }

    .meteordg-contact-content {
        grid-area: content;
    }

    .meteordg-footer {
        grid-area: footer;
    }
}

.meteordg-contact-content  {
    margin: 70px auto 0;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meteordg-contact-size-delimiter {
    width: 1200px;
}

.meteordg-contact-section-container {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.meteordg-contact-main-message-zone {
    border: 1px solid red;
    padding: 50px;
    display: flex;
    align-items: center;
}


.meteordg-contact-section-container .section-containers {
    flex: 1;
}

.meteordg-contact-main-form-zone {
    border: 1px solid red;

}

.meteordg-contact-main-form-zone {
    border: 1px solid red;

}

.meteordg-contact-form-section {
    width: 410px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    border-radius: 8px;
    font-family: 'calibri';
    color: white;
}

.meteordg-contact-form-fields {
    width: 100%;
    background: transparent;
    padding: 5px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: 'Titillium-Thin';
    font-size: 18px;
    color: white;
}

.meteordg-contact-form-helplist {
    list-style: none;
    padding: 0;

}

.meteordg-footer {
    margin-top: 60px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    color: #fff;
}

.meteordg-footer-size-delimiter {
    margin: 0 auto;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}