.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.form-content{
    border: 2px red solid;
    padding: 20px;
}

.form-login{
    display: flex;
    flex-direction: column;
}

.form-login > input{
    margin: 10px 0;
}

.form-login > .text-input{
    background-color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: blue 2px solid;
    color: blue;
    text-align: center;
}

.form-login > .send-input{
    border: blue 2px solid;
    border-radius: 15px;
    background-color: lightblue;
    color: purple;
}