* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Titillium-Regular';
    src: url(../fonts/Titillium/Titillium-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'Titillium-Thin';
    src: url(../fonts/Titillium/Titillium-Thin.otf) format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.meteordg-form-register {
    width: 410px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    border-radius: 8px;
    font-family: 'calibri';
    color: white;
}

.meteordg-register-title {
    font-size: 22px;
    margin-bottom: 25px;
}

.meteordg-register-paragraph {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.meteordg-register-paragraph a {
    color: white;
    text-decoration: none;
}

.meteordg-register-paragraph a:hover {
    color: #64B5F6;
    text-decoration: underline;
}

.meteordg-register-buttons {
    width: 100%;
    background-color: #1f53c5;
    padding: 12px;
    margin: 16px 0;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.meteordg-register-buttons:hover {
    background-color: #64B5F6;
    color: darkblue;
}

.meteordg-register-fields {
    width: 100%;
    background: transparent;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: 'Titillium-Thin';
    font-size: 18px;
    color: white;
}

.meteordg-register-cif-container {
    display: flex;
}

.meteordg-register-country-select {
    width: 35%;
    margin-right: 16px;
}

.meteordg-register-fields #cif {
    width: 65%;
}

.imagenOpcion{
    height: 10px;
    width: 20px;
}

/*<i class="fa-regular fa-eye" style="color: #163a79;"></i>*/

