*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 1;
    min-height: 100%;
}

.meteordg-header {
    background-color: #757575;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.meteordg-header-size-delimiter {
    border: 1px solid red;
    display: flex;
    align-items: center;
    width: 1250px;
}

.meteordg-header-logo{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.meteordg-header-logo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.meteordg-header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.meteordg-header-menu ul{
    list-style-type: none;
    padding: 0;
}

.meteordg-header-menu ul li{
    display: inline-block;
    margin-right: 20px;
}

.meteordg-header-menu ul li a{
    text-decoration: none;
}

.meteordg-header-signup{

}

/*@media (min-width: 600px) {
    body {
        background-color: #fff;
    }
}*/

.content {
    display: flex;
    border: 1px solid red;
    flex: 1;
}

footer {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
    background-color: #424242;
    color: #fff;
    /*margin-top: 100vh;*/
}