* {
   font-family: -apple-system;
}
 h1 {
     color: #59b6d9;
 }

 .meteordg-main-plans-container {
     display: flex;
     justify-content: center;
     align-items: center;
 }

.meteordg-plans-size-delimiter {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1300px;
}

.meteordg-prices-section {
    display: flex;
    flex-wrap: wrap;
}

.meteordg-plans {
    flex: 1;
    border: 1px solid #d5d5d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.meteordg-plans-buttons {
    padding: 17px 25px;
    border-radius: 60px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.meteordg-button-basic-plan {
    border: 2px solid green;
    color: green;
}

.meteordg-button-basic-plan:hover {
    background: green;
    color: white;
}

.meteordg-button-pro-plan {

}

.meteordg-button-pro-plan:hover {

}

meteordg-button-plus-plan {

}