* {
   font-family: 'Titillium-Regular';
}

@font-face {
    font-family: 'Titillium-Regular';
    src: url(../fonts/Titillium/Titillium-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'Titillium-Thin';
    src: url(../fonts/Titillium/Titillium-Thin.otf) format('truetype');
}

#meteordg-plans-title {
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 0;
    color: #59b6d9;
}

#meteordg-plans-paragraph {
    font-size: 17px;
    font-family: 'Titillium-Thin';
    margin-top: 5px;
    margin-bottom: 60px;
}

.meteordg-main-plans-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meteordg-plans-size-delimiter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1300px;
}

.meteordg-prices-section {
    display: flex;
    flex-wrap: wrap;
}

.meteordg-plans {
    flex: 1;
    padding: 35px 60px;
    border: 1px solid #d5d5d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meteordg-plans-title {
    font-size: 25px;
}

.meteordg-basic-plan .meteordg-plans-title {
    color: #2AB886;
}

.meteordg-pro-plan .meteordg-plans-title {
    color: #20AFCE;
}

.meteordg-plus-plan .meteordg-plans-title {
    color: #6E55DB;
}

.meteordg-plans-prices {
    font-size: 35px;
}

.meteordg-plans-buttons {
    padding: 15px 33px;
    border-radius: 60px;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px 0 30px;
}

#meteordg-button-basic-plan {
    border: 2px solid #2AB886;
    color: #2AB886;
}

#meteordg-button-basic-plan:hover {
    background: #2AB886;
    color: white;
}

#meteordg-button-pro-plan {
    border: 2px solid #20AFCE;
    color: #20AFCE;
}

#meteordg-button-pro-plan:hover {
    background: #20AFCE;
    color: white;
}

#meteordg-button-plus-plan {
    border: 2px solid #6E55DB;
    color: #6E55DB;
}

#meteordg-button-plus-plan:hover {
    background: #6E55DB;
    color: white;
}

.meteordg-plan-feature {
    margin-bottom: 15px;
    font-family: 'Titillium-Thin';
}

.meteordg-plan-feature:last-child {
    margin-bottom: 0;
}